@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

// COLORS:
$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Body-background: hsl(210, 46%, 95%);

/// FONTS:
$Primary-font: "Manrope", sans-serif;
$Font-size: 13px;
