body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: $Primary-font;
  font-size: $Font-size;
  background-color: $Body-background;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  height: 100%;
}
