.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 500px;
  &--img {
    width: 100%;
  }
  &--content {
    width: 100%;
  }
  &--info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
