.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  background-color: #fff;
  &--img {
    width: 100%;
  }
  &--content {
    margin: 30px auto;
    width: 80%;
    font-size: 8px;

    h1 {
      margin-bottom: 10px;
      font-weight: 700;
      color: $Very-Dark-Grayish-Blue;
    }

    p {
      color: $Desaturated-Dark-Blue;
      font-size: 13px;
    }
  }
  &--info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
