.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 172px 168px -111px $Desaturated-Dark-Blue;
  &--img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  &--content {
    margin: 30px auto 10px;
    width: 80%;

    h1 {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
      color: $Very-Dark-Grayish-Blue;
    }

    p {
      color: $Desaturated-Dark-Blue;
      font-weight: 500;
    }
  }
  &--info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-weight: 500;
    padding: 15px 0;
  }
}

.article-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
