.article--info__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile--info {
  margin-left: 10px;
}

.profile--info__name {
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 700;
  color: $Very-Dark-Grayish-Blue;
}

.article--info__date {
  font-size: 10px;
  color: $Grayish-Blue;
}

.profile--photo {
  width: 40px;
  border-radius: 50%;
}
