.article--info.share-active {
  background-color: $Very-Dark-Grayish-Blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.5s ease-in;
  @include breakpoint(desktop-up) {
    background-color: #fff;
    border-radius: 20px;
  }
}

.article--info__profile.share-active {
  @include breakpoint(phone-up) {
    display: none;
  }
  @include breakpoint(desktop-up) {
    display: flex;
  }
}

.article--info__share {
  display: none;
  & img:last-child {
    margin-right: 0;
  }
}

.article--info__share.share-active {
  display: flex;
  justify-content: start;
  align-items: center;
  animation: 1s pop;
  @include breakpoint(desktop-up) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    top: -95px;
    right: -110px;
    width: 250px;
    height: 65px;
    background-color: $Very-Dark-Grayish-Blue;
    border-radius: 10px;
    &::before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid $Very-Dark-Grayish-Blue;
      border-bottom: 15px solid transparent;
      right: 109px;
      top: 65px;
    }
  }
  h2 {
    color: $Grayish-Blue;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 4px;
    margin-right: 15px;
    visibility: visible;
    @include breakpoint(desktop-up) {
      font-size: 13px;
      margin-right: 20px;
      font-weight: bold;
    }
  }
}

.social-icon {
  width: 20px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}

.btn-share {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50px;
  background-color: $Body-background;
  cursor: pointer;
}

.btn-share:hover {
  background-color: $Desaturated-Dark-Blue;
  .btn-share--arrow {
    fill: #fff;
  }
}

.btn-share.share-active {
  background-color: $Desaturated-Dark-Blue;
  .btn-share--arrow {
    fill: #fff;
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
