.article--info.share-active {
  background-color: $Very-Dark-Grayish-Blue;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: background-color 0.5s ease-in;
  @include breakpoint(desktop-up) {
    background-color: #fff;
    border-radius: 20px;
  }
}

.article--info__profile.share-active {
  @include breakpoint(phone-up) {
    display: none;
  }
  @include breakpoint(desktop-up) {
    display: flex;
  }
}

.article--info__share {
  display: none;
  & img:last-child {
    margin-right: 0;
  }
}

.article--info__share.share-active {
  display: flex;
  justify-content: start;
  align-items: center;
  animation: 1s pop;
  @include breakpoint(desktop-up) {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    top: -95px;
    right: -110px;
    width: 250px;
    height: 65px;
    background-color: $Very-Dark-Grayish-Blue;
    border-radius: 10px;
  }
  h2 {
    color: $Grayish-Blue;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 4px;
    margin-right: 15px;
    visibility: visible;
    @include breakpoint(desktop-up) {
      font-size: 13px;
      margin-right: 20px;
    }
  }
}

.social-icon {
  width: 20px;
  margin-right: 10px;
}

.btn-share {
  padding: 7px;
  border-radius: 50px;
  color: $Desaturated-Dark-Blue;
  background-color: $Body-background;
  cursor: pointer;
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
